Repository TheSuperHackers/GeneralsGamePatch, pull requests merged in 2023-07, with the labels that each got.

#2041 Fix: Improve color blending of hazard cleanup stream particles
  Patch104pZH/Design/Changes/v1.0/2041_improve_cleanup_stream_colors.yaml
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/excleanupstream.psd
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
Labels: Minor, Art, USA

#2043 Fix: Contaminate audio stutters with a group of GLA Toxin Tractors
  Patch104pZH/Design/Changes/v1.0/2043_toxin_tractor_contaminate_audio_stutter.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Bug, Minor, Audio, GLA

#2050 Fix: Incorrect clip size and reload time of China Dragon Tank Black Napalm flame thrower
  Patch104pZH/Design/Changes/v1.0/1588_dragon_min_attack_range.yaml
  Patch104pZH/Design/Changes/v1.0/2050_dragon_black_napalm_flamethrower_clip_size.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Minor, China

#2027 Change: Increase armor of China Internet Center against Aurora bomb by 30%
  Patch104pZH/Design/Changes/v1.0/1989_internet_center_explosion_armor.yaml
  Patch104pZH/Design/Changes/v1.0/1989_internet_center_particle_beam_armor.yaml
  Patch104pZH/Design/Changes/v1.0/2027_internet_center_aurora_bomb_armor.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Armor.ini
Labels: Design, Controversial, Major, Buff, China

#2051 Add dedicated armor class to USA Ambulance
  Patch104pZH/GameFilesEdited/Data/INI/Armor.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
Labels: Minor, USA

#2036 Optimization: Decrease performance cost of toxin stream puddles by 70%
  Patch104pZH/Design/Changes/v1.0/2036_toxin_stream_puddle_performance.yaml
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
Labels: Major, Performance, Art, GLA

#2035 Optimization: Decrease performance cost of toxin and hazard cleanup stream splash effects by 20%
  Patch104pZH/Design/Changes/v1.0/2035_toxin_stream_splash_performance.yaml
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
Labels: Minor, Performance, Art, USA, GLA

#2058 Fix: Match visuals of toxin and hazard cleanup stream splash effects with nearby puddle effects
  Patch104pZH/Design/Changes/v1.0/2058_toxin_stream_splash_visuals.yaml
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/exwater05add.psd
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
Labels: Minor, Art, USA, GLA

#2059 Update change logs
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ArtOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ControversialOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#2060 Tweak color of ToxinBuildingClearSpray particles
  Patch104pZH/Design/Changes/v1.0/851_toxin_color_tweaks.yaml
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
Labels: Minor, Patch104p, Art

#2039 Optimization: Decrease performance cost of Inferno Cannon fire particles by 36%
  Patch104pZH/Design/Changes/v1.0/2039_inferno_cannon_fire_performance.yaml
  Patch104pZH/Design/Changes/v1.0/2039_inferno_cannon_shell_hit_effects.yaml
  Patch104pZH/GameFilesEdited/Data/INI/FXList.ini
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
Labels: Minor, Performance, Art, China

#2061 Update garrison test map
  Maps/SkirmishOnly/!SkirmishTestGarrison/!SkirmishTestGarrison.map
Labels: Documentation

#2052 Fix: Remove radiation hazard immunity from GLA Toxin Tractor
  Patch104pZH/Design/Changes/v1.0/2051_toxin_tractor_radiation_armor.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Armor.ini
Labels: Bug, Design, Controversial, Minor, Nerf, GLA

#2067 Change: Infantry killed by USA Laser Turret and Laser Crusader will burn
  Patch104pZH/Design/Changes/v1.0/2067_laser_weapons_infantry_burn.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Design, Controversial, Minor, USA

#2071 Change: Infantry lasered by the USA Paladin Tank will burn
  Patch104pZH/Design/Changes/v1.0/2067_laser_weapons_infantry_burn.yaml
  Patch104pZH/Design/Changes/v1.0/2071_laser_weapons_infantry_burn.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/CivilianUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Design, Minor

#2072 Fix: Point Defense Laser of USA Paladin no longer attacks dead infantry
  Patch104pZH/Design/Changes/v1.0/2072_paladin_laser_attack_dead_infantry.txt
  Patch104pZH/Design/Changes/v1.0/75_dead_target_bug.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/System.ini
Labels: Bug, Minor, USA

#2075 Fix: GLA Terrorist explosion is no longer silent when not suicided
  Patch104pZH/Design/Changes/v1.0/2075_terrorist_death_explosion_sound_fix.yaml
  Patch104pZH/GameFilesEdited/Data/INI/FXList.ini
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Bug, Minor, Audio, GLA

#2082 Document in INI the effect infantry scatter has on laser weapons
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Documentation

#2083 Update infantry test map
  Maps/SkirmishOnly/!SkirmishTestInfantry/!SkirmishTestInfantry.map
Labels: Documentation

#2081 Decrease damage dealt by GLA Terrorist when killed by USA Laser Crusader
  Patch104pZH/Design/Changes/v1.0/2067_laser_weapons_infantry_burn.yaml
  Patch104pZH/Design/Changes/v1.0/2081_laser_weapons_infantry_burn.txt
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Design, Minor, Patch104p, USA

#2076 Fix: Demo GLA Barracks no longer spawns Terrorist explosion effects on death
  Patch104pZH/Design/Changes/v1.0/2076_demo_barracks_death_effect.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
Labels: Bug, Minor, GLA

#2078 Fix: Remove obsolete Worker command sets from GLA Demo Barracks
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
Labels: Minor, GLA

#2065 Revert system lifetime changes of stream trail effects
  Patch104pZH/Design/Changes/v1.0/2034_hazard_cleanup_stream_trail_performance.yaml
  Patch104pZH/Design/Changes/v1.0/2034_toxin_stream_trail_performance.yaml
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
Labels: Patch104p

#2090 Update change logs
  Patch104pZH/Design/Changes/v1.0/1274_unused_aurora_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1274_unused_raptor_voices.yaml
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ArtOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ControversialOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#2100 Fix: Misspelled and invalid string references in CommandButton.ini
  Patch104pZH/Design/Changes/v1.0/2100_remove_duplicate_camo_netting_button.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
Labels: WorldBuilder, Minor

#2120 Fix: Worker Has Wrong Death Animation When Carrying Boxes
  Patch104pZH/Design/Changes/v1.0/2120_worker_death_animation.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLACINEUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
Labels: Bug, Minor, GLA

#2121 Fix: Stinger Trooper Upgrade Icons
  Patch104pZH/Design/Changes/v1.0/2121_stinger_soldier_upgrade_cameos.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
Labels: Minor, GLA

#297 Fix: Flashbangs Cannot Target Stinger Sites
  Patch104pZH/Design/Changes/v1.0/297_stinger_flashbang_attack.yaml
  Patch104pZH/Design/Changes/v1.0/636_stinger_flashbang_damage.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Armor.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/FactionBuilding.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLABuildings.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLABuildings.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
Labels: Bug

#2103 Improve documentation of Slth_GLAArmsDealerCommandSet
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Documentation

#2139 Add scripts for finding key conflicts
  Patch104pZH/Design/Scripts/str/find_key_conflicts.py
  Patch104pZH/Design/Scripts/str/generated/ar_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/ar_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/ar_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated/bp_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/bp_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/bp_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated/commandsets_not_unit.txt
  Patch104pZH/Design/Scripts/str/generated/commandsets_unit.txt
  Patch104pZH/Design/Scripts/str/generated/de_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/de_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/de_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated/es_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/es_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/es_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated/fr_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/fr_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/fr_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated/it_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/it_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/it_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated/ko_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/ko_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/ko_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated/pl_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/pl_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/pl_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated/ru_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/ru_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/ru_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated/us_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/us_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/us_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated/zh_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/zh_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/zh_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated_first/bp_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated_first/de_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated_first/es_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated_first/fr_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated_first/it_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated_first/ko_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated_first/pl_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated_first/ru_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated_first/ru_key_invalid.txt
  Patch104pZH/Design/Scripts/str/generated_first/us_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated_first/zh_key_conflict.txt
Labels: Documentation

#2098 Update audio review files
  Patch104pZH/Design/Scripts/ini/sounds/find_sound_issues.py
  Patch104pZH/Design/Scripts/ini/sounds/generated/duplicate_sounds.txt
  Patch104pZH/Design/Scripts/ini/sounds/generated/invalid_sounds.txt
  Patch104pZH/Design/Scripts/ini/sounds/generated/unused_sounds.txt
  Patch104pZH/Design/Scripts/ini/sounds/generated_original/duplicate_sounds.txt
  Patch104pZH/Design/Scripts/ini/sounds/generated_original/duplicate_sounds_review.txt
  Patch104pZH/Design/Scripts/ini/sounds/generated_original/invalid_sounds.txt
  Patch104pZH/Design/Scripts/ini/sounds/generated_original/invalid_sounds_review.txt
  Patch104pZH/Design/Scripts/ini/sounds/generated_original/unused_sounds.txt
  Patch104pZH/Design/Scripts/ini/sounds/generated_original/unused_sounds_review.txt
  Patch104pZH/Design/Scripts/ini/speech/find_duplicate_dialogevent.py
  Patch104pZH/Design/Scripts/ini/speech/find_speech_issues.py
  Patch104pZH/Design/Scripts/ini/speech/generate_list.py
  Patch104pZH/Design/Scripts/ini/speech/generated/duplicate_dialogevent.txt
  Patch104pZH/Design/Scripts/ini/speech/generated/invalid_speech.txt
  Patch104pZH/Design/Scripts/ini/speech/generated/unused_speech.txt
  Patch104pZH/Design/Scripts/ini/speech/generated_original/duplicate_dialogevent.txt
  Patch104pZH/Design/Scripts/ini/speech/generated_original/invalid_speech.txt
  Patch104pZH/Design/Scripts/ini/speech/generated_original/invalid_speech_review.txt
  Patch104pZH/Design/Scripts/ini/speech/generated_original/unused_speech.txt
  Patch104pZH/Design/Scripts/ini/speech/generated_original/unused_speech_review.txt
Labels: Documentation

#2129 Add donation page
  DONATE.md
  Media/QR/crypto.txt
  Media/QR/generated/0xbe7AEFA1AeD5ae990AB1ef49f6b508653B38a38b.png
  Media/QR/generated/addr1qypz5fdpzwu3v62eckpyha9mgwujnyrnv830fw5dlgz3vd2n4xj7p5nnz9t8kp20tyj8grl24t7xq72w4uw63jqagvysgag7mt.png
  Media/QR/generated/bc1qmwuxpze4sfnue6tu476y265aztm5xckqtex8k8.png
  Media/QR/generated/ltc1qc4att5us0lrj37kw98aw0phes89zmwhv0ttwxx.png
  Media/QR/qr.py
  Media/QR/requirements.txt
  README.md
Labels: Documentation

#2144 Update change logs
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ArtOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ControversialOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#2173 Fix: Lone Stinger Soldiers float above ground when moving while reloading
  Patch104pZH/Design/Changes/v1.0/2173_stinger_trooper_reload_animation_while_moving.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
Labels: Bug, WorldBuilder, Minor, GLA, Boss

#1055 Fix: Invert and Redistribute Quad Cannon Guns DPS
  Patch104pZH/Design/Balancing/Damage/GLAVehicleQuadCannon.ods
  Patch104pZH/Design/Changes/v1.0/1055_quad_cannon_scrap_damage.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Bug, Design, Controversial, Major, GLA

#2170 Fix: Boss Aurora Countermeasures Evasion Rate
  Patch104pZH/Design/Changes/v1.0/2170_boss_aurora_countermeasures_missile_evasion_rate.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
Labels: Bug, Minor, Boss

#2171 Fix: Unused Boss Spectre Countermeasures Evasion Rate
  Patch104pZH/Design/Changes/v1.0/2171_spectre_countermeasures_missile_evasion_rate.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
Labels: Bug, WorldBuilder, Minor, Boss

#2133 Fix: Add more fire ports to China Bunkers to help prevent passengers from damaging it near uneven terrain
  Patch104pZH/Design/Changes/v1.0/2133_bunker_self_kills.yaml
  Patch104pZH/GameFilesEdited/Art/W3D/NBBunkerI_FP.W3D
  Patch104pZH/GameFilesEdited/Art/W3D/NBBunker_FP.W3D
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/FactionBuilding.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Major, Buff, China

#2175 Fix: infantry stuck in walk animation when dying
  Patch104pZH/Design/Changes/v1.0/2175_broken_infantry_death_animations.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/CivilianUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Minor, USA, China, GLA, Boss

#2179 Add Tank_OverlordTankGun documentation
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Documentation

#2181 Update change log
  Patch104pZH/Design/Changes/v1.0/2092_satellite_hack_i_ii_key_conflict.yaml
  Patch104pZH/Design/Changes/v1.0/2106_neutron_shells_key_conflict.yaml
  Patch104pZH/Design/Changes/v1.0/2130_tomahawk_storm.yaml
  Patch104pZH/Design/Changes/v1.0/2166_unlockable_units_on_promotion_screen.yaml
  Patch104pZH/Design/Changes/v1.0/297_stinger_flashbang_attack.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ControversialOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#2164 Fix: Battle Bus with Demolitions upgrade does explode when killed
  Patch104pZH/Design/Changes/v1.0/102_demo_battle_bus_suicide_damage.yaml
  Patch104pZH/Design/Changes/v1.0/2164_demo_battle_bus_suicide_damage.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
Labels: Bug, Patch104p

#2154 Change: Add windows to ntdoor04l
  Patch104pZH/Design/Changes/v1.0/2133_bunker_self_kills.yaml
  Patch104pZH/Design/Changes/v1.0/2154_ntdoor04l_textures.txt
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/ntdoor04l.psd
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/ntdoor04l_d.psd
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/ntdoor04l_ds.psd
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/ntdoor04l_s.psd
Labels: Minor, Art, China
