Repository TheSuperHackers/GeneralsGamePatch, pull requests merged in 2023-05, with the labels that each got.

#1862 Change: Add Starting Money options for 30000 and 40000
  Patch104pZH/Design/Changes/v1.0/1862_start_money_options.yaml
  Patch104pZH/GameFilesEdited/Data/INI/multiplayer.ini
  Patch104pZH/GameFilesEdited/Window/Menus/GameSpyGameOptionsMenu.wnd
  Patch104pZH/GameFilesEdited/Window/Menus/LanGameOptionsMenu.wnd
  Patch104pZH/GameFilesEdited/Window/Menus/SkirmishGameOptionsMenu.wnd
Labels: Enhancement, Minor

#1867 Fix: Flawed audio quality in gps scrambler sound
  Patch104pZH/Design/Changes/v1.0/1061_audio_fixes.yaml
  Patch104pZH/Design/Changes/v1.0/1867_scrambler_audio_fixes.txt
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/sscrambl.wav
Labels: Minor, Optional, Audio

#1891 Fix: Keep disabled Overlord attachment upgrade buttons in Command Set
  Patch104pZH/Design/Changes/v1.0/1891_overlord_attachment_upgrade_buttons.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaAir.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Minor, China, GUI

#1894 Change: Move China Overlord evacuation button to common position
  Patch104pZH/Design/Changes/v1.0/165_vehicle_evacuation_button_placement.yaml
  Patch104pZH/Design/Changes/v1.0/1894_overlord_evacuation_button_placement.txt
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Bug, Design, Controversial, Minor, China, GUI

#1905 Fix: Prevent shells of China Artillery Barrage from killing each other
  Patch104pZH/Design/Changes/v1.0/1905_artillery_shells_health.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Bug, Minor, Buff, China

#1262 Change: Add upgrade voices for Satellite Hack 1 and 2
  Patch104pZH/Design/Changes/v1.0/1262_satellite_hack_upgrade_sounds.yaml
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/English/ecsat1up.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/English/ecsat1up.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/English/ecsat2up.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/English/ecsat2up.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/French/ecsat1up.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/French/ecsat1up.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/French/ecsat2up.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/French/ecsat2up.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/German/ecsat1up.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/German/ecsat1up.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/German/ecsat2up.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/German/ecsat2up.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/Russian/ecsat1up.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/Russian/ecsat1up.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/Russian/ecsat2up.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/Russian/ecsat2up.wav
  Patch104pZH/GameFilesEdited/Data/INI/Upgrade.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Enhancement, Minor, Audio, China

#1934 Add Battle Bus crash test map
  Maps/SkirmishOnly/!SkirmishBattleBusCrash/!SkirmishBattleBusCrash.map
  Maps/SkirmishOnly/!SkirmishBattleBusCrash/!SkirmishBattleBusCrash.tga
Labels: Documentation

#1936 Add rising water test map
  Maps/Any/!TestRisingWater/!TestRisingWater.map
  Maps/Any/!TestRisingWater/!TestRisingWater.tga
  Maps/Any/!TestRisingWater/Battle Royale V2.txt
  Maps/Any/!TestRisingWater/map.str
Labels: Documentation

#1937 Add Battle Master strength test map
  Maps/Any/!TestBattlemasterStrength/!TestBattlemasterStrength.map
  Maps/Any/!TestBattlemasterStrength/!TestBattlemasterStrength.tga
  Maps/Any/!TestBattlemasterStrength/ReadMe.txt
Labels: Documentation

#1938 Add GLA salvage crate test map
  Maps/SkirmishOnly/!SkirmishTestScrapsAsGLA/!SkirmishTestScrapsAsGLA.map
  Maps/SkirmishOnly/!SkirmishTestScrapsAsGLA/!SkirmishTestScrapsAsGLA.tga
Labels: Documentation

#1914 Add comments for unused sound files
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Documentation

#1900 Fix: Set audio limit for Vehicle Snipe
  Patch104pZH/Design/Changes/v1.0/1900_vehicle_snipe_sound_limit.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Bug, Minor, Audio

#1903 Remove Tertiary weapon slot from Neutron Shells command button
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
Labels: Minor, China

#1904 Fix: Sets correct name for Demo_Command_ConstructGLATankScorpion
  Patch104pZH/Design/Changes/v1.0/1904_demo_command_scorpion_spelling.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Minor

#1875 Fix: Add smoke particles to wrecks of China Troop Crawler, Listening Outpost
  Patch104pZH/Design/Changes/v1.0/1875_outpost_crawler_wreck_smoke.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/Hulk.ini
Labels: Enhancement, Design, Minor, China

#1874 Change: Add catch fire death effect variant to USA Microwave Tank
  Patch104pZH/Design/Changes/v1.0/1874_microwave_death_effect.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
Labels: Enhancement, Design, Minor, USA

#1942 Update change logs
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ControversialOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#1854 Change: Increase China Emperor speed by 25%, upgraded speed by 16%
  Patch104pZH/Design/Changes/v1.0/1854_tank_overlord_speed.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Locomotor.ini
Labels: Design, Controversial, Major, Buff, China

#1911 Enable Dragon Tank and Toxin Tractor secondary attack button sounds, but do not use them
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Minor, Audio

#1870 Change: Improve USA Daisy Cutter bomb explosion effects (2)
  Patch104pZH/Design/Changes/v1.0/1800_daisy_cutter_explosion_effects.yaml
  Patch104pZH/Design/Changes/v1.0/1870_daisy_cutter_explosion_effects.txt
  Patch104pZH/GameFilesEdited/Data/INI/FXList.ini
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
Labels: Minor, Art, USA

#1872 Fix: Improve China Neutron Shell explosion effects
  Patch104pZH/Design/Changes/v1.0/1872_neutron_shell_effects.yaml
  Patch104pZH/GameFilesEdited/Data/INI/FXList.ini
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
Labels: Enhancement, Minor, Art, China

#1885 Change: Optimize Clean Toxins button placement of USA Ambulance
  Patch104pZH/Design/Changes/v1.0/1885_clean_toxins_button_placement.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Minor, Optional, USA, GUI

#1893 Change: Add Countermeasures armor upgrade bonus to Boss Raptor
  Patch104pZH/Design/Changes/v1.0/1893_boss_raptor_countermeasures.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
Labels: Design, Minor, Buff, Boss

#1892 Fix: Add missing upgrade buttons to Boss General
  Patch104pZH/Design/Changes/v1.0/1892_boss_missing_upgrade_buttons.yaml
  Patch104pZH/Design/Changes/v1.0/1892_boss_scud_storm_buttons.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Bug, Minor, Buff, GUI, Boss

#1945 Fix: exhorde textures
  Patch104pZH/Design/Changes/v1.0/1228_scorpion_textures.yaml
  Patch104pZH/Design/Changes/v1.0/1945_horde_decal_rotation.yaml
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/exhorde.psd
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/exhorde_up.psd
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/exhordeb.txt
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/exhordeb_up.txt
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/exhordec_up.psd
  Patch104pZH/ModBundleItems.json
Labels: Bug, Minor, Art, China

#1921 Remove duplicate and obsolete AuroraBomberVoiceUpgradeBuster definition
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Minor

#1913 Fix: Misspelled sounds in audio events
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_audio_event_sounds.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Bug, Minor, Audio

#1933 Fix: Remove invalid sound from SupplyTruckVoiceSupply
  Patch104pZH/Design/Changes/v1.0/1933_supply_truck_invalid_sound.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Bug, Minor, Audio, China

#1927 Fix: Sets correct decay and attack sounds for AmbientCrowdAngryArabs1, AvalancheTextureLoop
  Patch104pZH/Design/Changes/v1.0/1927_incorrect_audio_event_sounds.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Bug, Minor, Audio

#1912 Fix: Remove audio events with no valid sounds
  Patch104pZH/Design/Changes/v1.0/1912_obsolete_audio_events.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Bug, Minor, Audio

#1931 Change: Add unique machine gun firing sounds to USA Battle Drone
  Patch104pZH/Design/Changes/v1.0/1931_battle_drone_gun_audio.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Enhancement, Minor, Audio, USA

#1930 Fix: Achieve homogeneous firing sound for machine guns of USA Comanche and China Helix
  Patch104pZH/Design/Changes/v1.0/1930_comanche_gun_firing_sequence.yaml
  Patch104pZH/Design/Changes/v1.0/1930_helix_gun_firing_sequence.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Minor, Audio, USA, China

#1966 Fix: Achieve homogeneous firing sound for machine gun of USA Ranger
  Patch104pZH/Design/Changes/v1.0/1930_comanche_gun_firing_sequence.yaml
  Patch104pZH/Design/Changes/v1.0/1930_helix_gun_firing_sequence.yaml
  Patch104pZH/Design/Changes/v1.0/1966_ranger_gun_firing_sequence.yaml
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/iranwea.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/iranweaa2.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/iranweab2.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/iranweac2.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/iranwead2.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/iranweae2.wav
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Minor, Audio, USA

#1962 Change: Remove obsolete voice line from USA King Raptor
  Patch104pZH/Design/Changes/v1.0/1962_obsolete_king_raptor_voice.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Minor, Audio, USA

#1926 Fix: Remove duplicate sounds in audio events
  Patch104pZH/Design/Changes/v1.0/1926_duplicate_audio_event_sounds.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Minor, Audio

#1929 Fix: Set unique set of insect sounds for Amb_DesertVillageNightInsect2
  Patch104pZH/Design/Changes/v1.0/1929_night_insect_sounds.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Enhancement, Minor, Audio

#1928 Fix: Set less intense unique set of fire sounds for GenericFireMediumLoop
  Patch104pZH/Design/Changes/v1.0/1928_medium_fire_sounds.yaml
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/gfirlo2h.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/gfirlo2h.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/gfirlo2i.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/gfirlo2i.wav
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Enhancement, Minor, Audio

#1919 Change: Enable death voices of USA Chinook
  Patch104pZH/Design/Changes/v1.0/1919_chinook_death_voice.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaAir.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
Labels: Enhancement, Design, Minor, Audio, USA

#1920 Change: Add various unused sounds
  Patch104pZH/Design/Changes/v1.0/1920_unused_sounds.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Enhancement, Minor, Audio

#1918 Change: Add unused voices to various faction units
  Patch104pZH/Design/Changes/v1.0/1918_unused_aircraft_carrier_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_battle_bus_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_china_pow_truck_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_chinook_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_comanche_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_gattling_tank_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_hacker_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_helix_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_humvee_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_nuke_cannon_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_quad_cannon_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_ranger_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_rpg_trooper_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_scud_launcher_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_terrorist_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_toxin_tractor_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_usa_dozer_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1918_unused_worker_voices.yaml
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/English/vgatmod.wav
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Enhancement, Design, Minor, Audio

#1972 Reorganize change log documentation for change #1913
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_audio_event_sounds.yaml
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_china_dozer_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_hijacker_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_humvee_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_nuke_cannon_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_quad_cannon_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_ranger_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_red_guard_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_scorpion_tank_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_usa_pow_truck_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1913_misspelled_worker_voices.yaml
Labels: Documentation

#1973 Update change log files
  Patch104pZH/Design/Changes/v1.0/1854_emperor_speed.yaml
  Patch104pZH/Design/Changes/v1.0/1940_misspelled_dialog_event_sounds.yaml
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ArtOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ControversialOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#1968 Remove audio shadowing of gexpdaia, gsparksa, gsparksb
  Patch104pZH/Design/Changes/v1.0/1413_battle_drone_repair_sound.yaml
  Patch104pZH/Design/Changes/v1.0/1800_daisy_cutter_explosion_effects.yaml
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/gexpdaia.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/gexpdaia2.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/gsparks.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/gsparksa2.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/gsparksb2.wav
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Patch104p, Audio

#1970 Fix: Add fade in sound to B52 engine loop
  Patch104pZH/Design/Changes/v1.0/1970_b52_ambient_sounds.yaml
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/vb52lo1b.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/vb52lo1b.wav
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Enhancement, Minor, Audio, USA

#1974 Improve tank speed documentation
  Patch104pZH/Design/Changes/v1.0/1813_overlord_speed.yaml
  Patch104pZH/Design/Changes/v1.0/1815_battlemaster_speed.yaml
  Patch104pZH/Design/Changes/v1.0/1854_emperor_speed.yaml
Labels: Documentation

#1971 Restore original fire sound on tree objects
  Patch104pZH/Design/Changes/v1.0/1928_medium_fire_sounds.yaml
  Patch104pZH/Design/Changes/v1.0/1971_tree_fires.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/NatureProp.ini
Labels: Minor, Patch104p, Audio

#1975 Improve fuel voices documentation
  Patch104pZH/Design/Changes/v1.0/1274_raptor_aurora_death_voice.yaml
  Patch104pZH/Design/Changes/v1.0/1274_unused_aurora_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1274_unused_raptor_voices.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Documentation

#1969 Fix: Remove audio events with no valid sounds (2)
  Patch104pZH/Design/Changes/v1.0/1912_invalid_audio_events.yaml
  Patch104pZH/Design/Changes/v1.0/1969_invalid_audio_events.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaCINEUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLACINEUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Minor, Audio

#1908 Change: Improve voice setup of China Black Lotus
  Patch104pZH/Design/Changes/v1.0/1908_unused_black_lotus_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1908_unused_super_lotus_voices.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Enhancement, Design, Minor, Audio, China

#1909 Change: Improve voice setup of China Nuke Battlemaster
  Patch104pZH/Design/Changes/v1.0/1909_new_nuke_battlemaster_voices.yaml
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/English/vbansec.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/English/vbansec.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/English/vbansed.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/English/vbansed.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/French/vbansec.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/French/vbansec.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/French/vbansed.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/French/vbansed.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/German/vbansec.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/German/vbansec.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/German/vbansed.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/German/vbansed.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/Russian/vbansec.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/Russian/vbansec.wav
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/Russian/vbansed.txt
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/Russian/vbansed.wav
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Enhancement, Design, Minor, Audio, China

#1910 Change: Improve voice setup of USA Aurora and Alpha Aurora
  Patch104pZH/Design/Changes/v1.0/1274_unused_aurora_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1910_unused_alpha_aurora_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1910_unused_aurora_voices.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Enhancement, Design, Minor, Audio, USA

#1924 Change: Improve voice setup of China Overlord
  Patch104pZH/Design/Changes/v1.0/1924_unused_overlord_voices.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Enhancement, Design, Minor, Audio, China

#1932 Change: Improve voice setup of USA Stealth Fighter
  Patch104pZH/Design/Changes/v1.0/1932_new_stealth_fighter_voices.yaml
  Patch104pZH/GameFilesEdited/Data/Audio/Sounds/gdemsela.txt
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/English/vsteseg.txt
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/English/vsteseg.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/French/vsteseg.txt
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/French/vsteseg.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/German/vsteseg.txt
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/German/vsteseg.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Russian/vsteseg.txt
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Russian/vsteseg.wav
  Patch104pZH/ModBundleAudioItems.json
  Patch104pZH/ModBundleFullPacks.json
Labels: Enhancement, Design, Minor, Optional, Audio, USA

#1915 Change: Add more upgrade sound variations
  Patch104pZH/Design/Changes/v1.0/1915_unused_auto_loader_upgrade_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_booby_trap_upgrade_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_bunker_buster_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_cash_bounty_upgrade_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_chemical_suits_upgrade_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_counter_measures_upgrade_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_drone_armor_upgrade_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_gamma_upgrade_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_patriotism_upgrade_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_supply_lines_upgrade_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_uranium_shells_upgrade_voices.yaml
  Patch104pZH/Design/Changes/v1.0/1915_unused_worker_shoes_upgrade_voices.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Enhancement, Design, Minor, Optional, Audio

#1976 Add German Terr Mismatch map
  Maps/Any/!TestGermanTerroristMismatch/!TestGermanTerroristMismatch.map
  Maps/Any/!TestGermanTerroristMismatch/!TestGermanTerroristMismatch.tga
  Maps/SkirmishOnly/!SkirmishTestBattleBusCrash/!SkirmishTestBattleBusCrash.map
  Maps/SkirmishOnly/!SkirmishTestBattleBusCrash/!SkirmishTestBattleBusCrash.tga
Labels: Documentation

#1980 Create new bundles for core language audio
  Patch104pZH/ModBundleAudioItems.json
  Patch104pZH/ModBundleCorePacks.json
  Patch104pZH/ModBundleFullPacks.json
  Patch104pZH/ModBundleLanguageItems.json
Labels: Patch104p, Audio

#1916 Add new audio events for unreferenced sounds
  Patch104pZH/Design/Changes/v1.0/1916_new_audio_events.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Enhancement, Minor, Audio

#1981 Update change log
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ArtOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ControversialOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#1897 Change: Swap Drop Bomb and Evacuate buttons on China Helix command set
  Patch104pZH/Design/Changes/v1.0/1897_helix_evacuation_button_placement.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Enhancement, Minor, Optional, China, GUI

#1982 Change: Optimize button placements of Boss Dozer (2)
  Patch104pZH/Design/Changes/v1.0/1888_china_dozer_buttons.yaml
  Patch104pZH/Design/Changes/v1.0/1889_usa_dozer_buttons.yaml
  Patch104pZH/Design/Changes/v1.0/1982_boss_dozer_buttons.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Minor, GUI, Boss

#1949 Add new dialog events for unreferenced speech
  Patch104pZH/Design/Changes/v1.0/1949_new_dialog_events.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Speech.ini
Labels: Enhancement, Minor, Audio
