Repository TheSuperHackers/GeneralsGamePatch, pull requests merged in 2023-04, with the labels that each got.

#1788 Add Mod Builder 1.9
  Patch104pZH/Scripts/Windows/Setup.bat
Labels: Patch104p

#1786 Add missing ini documentation
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
  Patch104pZH/GameFilesEdited/Data/INI/FXList.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLACINEUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/System.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Documentation

#1799 Add CONTRIBUTE.md
  CONTRIBUTE.md
  README.md
Labels: Documentation

#1764 Increase Cash Bounty Dummy spawn interval from 250 to 1000 ms
  Patch104pZH/Design/Changes/v1.0/1764_cash_bounty_dummy_spawn_interval.txt
  Patch104pZH/Design/Changes/v1.0/595_cash_bounty_activation.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/System.ini
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Minor, Performance, Patch104p

#1774 Fix: Listening Outpost Damaged Smoke Effect Sticks After Repair (2)
  Patch104pZH/Design/Changes/v1.0/261_outpost_smoke_effect.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Documentation, Minor, China

#1785 Change: Set lowest audio priority on USA Battle Drone RepairSparks
  Patch104pZH/Design/Changes/v1.0/1413_battle_drone_repair_sound.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Minor, Audio, USA

#1759 Fix: Remove move voices from USA Spectre Gunship
  Patch104pZH/Design/Changes/v1.0/1759_spectre_move_voice_removal.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaAir.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
Labels: Design, Minor, USA

#1580 Fix: Increase reload time of USA Patriot missile assist weapons from 1000 to 2000
  Patch104pZH/Design/Changes/v1.0/1580_patriot_assist_reload_time.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Bug, Controversial, Minor, Nerf, USA

#1752 Change: Removes the destruction delay variance from the USA Alpha Aurora's bomb
  Patch104pZH/Design/Changes/v1.0/1752_alpha_aurora_bomb_random_delay.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/WeaponObjects.ini
Labels: Design, Minor, Buff, USA

#1780 Fix: China Battlemaster Paradrop delivers to wrong location
  Patch104pZH/Design/Changes/v1.0/1780_tank_paradrop_power.yaml
  Patch104pZH/GameFilesEdited/Data/INI/ObjectCreationList.ini
Labels: Bug, Minor, China

#1753 Change: Decrease USA Alpha Aurora bomb drop speed to match the regular Aurora bomb drop speed
  Patch104pZH/Design/Changes/v1.0/1753_alpha_aurora_bomb_speed.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/WeaponObjects.ini
Labels: Design, Controversial, Nerf, USA

#1750 Change: Add 3D shadows to big bombs
  Patch104pZH/Design/Changes/v1.0/1750_bomb_shadows.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/WeaponObjects.ini
Labels: Enhancement, Design, Minor

#1829 Remove Helix bomb shadows
  Patch104pZH/GameFilesEdited/Data/INI/Object/WeaponObjects.ini
Labels: Patch104p

#1778 Fix: Add Missing Disintegration Sound Effect on Missiles
  Patch104pZH/Design/Changes/v1.0/1778_disintegration_sound_effect.yaml
  Patch104pZH/GameFilesEdited/Data/INI/FXList.ini
Labels: Enhancement, Minor, Audio

#1688 Change: Despawn Salvage Crates deterministically after 32500 ms
  Patch104pZH/Design/Changes/v1.0/1688_salvage_crate_despawn_time.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Crate.ini
Labels: Design, Controversial, Major, GLA

#1675 Fix: Add CRATE flag to SalvageCrate
  Patch104pZH/Design/Changes/v1.0/1675_salvage_crate_crate_flag.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Crate.ini
Labels: Minor, GLA

#1836 Fix: Remove SELECTABLE flag from SalvageCrate
  Patch104pZH/Design/Changes/v1.0/1675_salvage_crate_flags.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Crate.ini
Labels: Design, Minor, GLA

#1676 Fix: GLA Salvage Crate can no longer be removed by scaffolds
  Patch104pZH/Design/Changes/v1.0/1676_salvage_crate_exploit.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Crate.ini
Labels: Bug, Controversial, Major, GLA

#1121 Change: Fix and improve the look of China Mine explosion effects
  Patch104pZH/Design/Changes/v1.0/1121_china_mines_effects.yaml
  Patch104pZH/GameFilesEdited/Data/INI/FXList.ini
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
Labels: Minor, Art, China

#1787 Change: Add buttons for Guard Mode and Attack Move to USA Airforce Combat Chinook
  Patch104pZH/Design/Changes/v1.0/1787_combat_chinook_buttons.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
Labels: Enhancement, Minor, USA, GUI

#1816 Fix: Add Isotope Stability upgrade icon to China Nuke Overlord Tank
  Patch104pZH/Design/Changes/v1.0/1816_isotope_stability_cameo.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Upgrade.ini
Labels: Bug, Minor, China, GUI

#1828 Fix: USA Alpha Aurora bomb freezing for 1 or 2 frames near ground before hit
  Patch104pZH/Design/Changes/v1.0/1828_alpha_aurora_bomb_impact.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/WeaponObjects.ini
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Bug, Minor, USA

#1808 Change: Remove Rally Point button from all command sets
  Patch104pZH/Design/Changes/v1.0/1808_remove_rally_point_button.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Design, Minor, GUI

#1825 Fix: China Battlemaster Paradrop is choppy and crowded
  Patch104pZH/Design/Changes/v1.0/1780_battlemaster_paradrop_location.yaml
  Patch104pZH/Design/Changes/v1.0/1780_tank_paradrop_power.yaml
  Patch104pZH/Design/Changes/v1.0/1825_battlemaster_paradrop_physics.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Locomotor.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/ObjectCreationList.ini
Labels: Design, Minor, China

#1801 Change: Reduce audio range and volume of Remote Demo Charge
  Patch104pZH/Design/Changes/v1.0/1801_remote_demo_charge_audio.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Design, Controversial, Minor, Buff, USA, GLA

#1802 Change: Reduce audio range of Timed Demo Charge
  Patch104pZH/Design/Changes/v1.0/1802_timed_demo_charge_audio.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Design, Controversial, Minor, Audio, USA, China, GLA

#1851 Revert Change: Remove Rally Point button from all command sets (#1808)
  Patch104pZH/Design/Changes/v1.0/1808_remove_rally_point_button.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Patch104p

#1815 Change: Increase China Battlemaster speed by 20%, upgraded speed by 14%
  Patch104pZH/Design/Changes/v1.0/1815_battlemaster_speed.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Locomotor.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Design, Controversial, Major, Buff, China

#1821 Fix: USA Microwave weapon audio loop interval and frequency irregularities
  Patch104pZH/Design/Changes/v1.0/1821_microwave_loop_audio.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Minor, Audio, USA

#1820 Fix: USA Avenger Target Designator audio loop gaps
  Patch104pZH/Design/Changes/v1.0/1821_avenger_loop_audio.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Bug, Minor, Audio, USA

#1856 Minor tweaks in change log
  Patch104pZH/Design/Changes/v1.0/104_demo_combat_bike_gamme_anthrax_death_damage.yaml
  Patch104pZH/Design/Changes/v1.0/1137_bomb_truck_explosion_particles.yaml
  Patch104pZH/Design/Changes/v1.0/1752_alpha_aurora_bomb_random_delay.yaml
Labels: Documentation

#1852 Fix: Add missing Rally Point button to Boss Airfield
  Patch104pZH/Design/Changes/v1.0/1852_boss_airfield_rally_point.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Bug, Minor, GUI, Boss

#1860 Update weapon damage doc for GLA Quad Cannon
  Patch104pZH/Design/Balancing/Damage/GLAVehicleQuadCannon.ods
Labels: Documentation

#1861 Change: Move Radar upgrade button above Mines upgrade button on China Command Center
  Patch104pZH/Design/Changes/v1.0/1861_china_radar_button_placement.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Minor, China, GUI

#1810 Fix: Flawed audio quality in Explosion FX sounds
  Patch104pZH/Design/Changes/v1.0/1061_audio_fixes.yaml
  Patch104pZH/Design/Changes/v1.0/1810_explosion_audio_fixes.txt
  Patch104pZH/Design/Changes/v1.0/1822_vehicle_audio_fixes.txt
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX.txt
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexparta.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpartb.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpartc.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpbara.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpbarb.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpbarc.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpbard.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpbare.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpbsha.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpbshb.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpdema.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpdemb.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpdira.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpempb.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpempc.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpfira.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpfirb.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpfirc.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpflaa.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpflab.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpflac.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpgasa.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpglaa.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpifva.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpifvb.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpifvc.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpmina.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpminb.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpmola.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpmolb.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpmolc.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpmold.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpmole.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpmolf.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpneud.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpnuka.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/FX/gexpscu1.wav
Labels: Minor, Optional, Audio

#1869 Add Patch104p and type keyword to various comments
  Patch104pZH/GameFilesEdited/Data/INI/Armor.ini
  Patch104pZH/GameFilesEdited/Data/INI/FXList.ini
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Documentation

#1745 Change: Begin sink China Dragon Tank hulk right after the fire effect vanished
  Patch104pZH/Design/Changes/v1.0/1745_dragon_tank_sink_delay.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/Hulk.ini
Labels: Design, Minor, China

#1880 Add up-to-date change logs
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ArtOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ControversialOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#1864 Fix: Set unique default house color for Boss General
  Patch104pZH/Design/Changes/v1.0/1864_boss_color.yaml
  Patch104pZH/GameFilesEdited/Data/INI/ChallengeMode.ini
  Patch104pZH/GameFilesEdited/Data/INI/PlayerTemplate.ini
Labels: Minor, Boss

#1859 Change: Optimize button placements of Boss Command Center
  Patch104pZH/Design/Changes/v1.0/1859_boss_commandcenter_buttons.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Minor, GUI, Boss

#1865 Change: Optimize button placements of Boss War Factory
  Patch104pZH/Design/Changes/v1.0/1865_boss_warfactory_buttons.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Minor, GUI, Boss

#1884 Change: Move Radar upgrade button of China Command Center in optional bundle only
  Patch104pZH/Design/Changes/v1.0/1861_china_radar_button_placement.yaml
  Patch104pZH/Design/Changes/v1.0/1884_boss_radar_button_placement.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
  Patch104pZH/ModBundleFullPacks.json
  Patch104pZH/ModBundleItems.json
Labels: Minor, Optional, China, GUI, Boss

#1565 Change: Use vehicle evacuation button for USA Chinook evacuation
  Patch104pZH/Design/Changes/v1.0/1565_chinook_evacuation_button.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Minor, Optional, USA, GUI

#1887 Fix: Add Stop command button to all worker units
  Patch104pZH/Design/Changes/v1.0/1887_dozer_worker_stop_button.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Bug, Minor, Optional, USA, China, GLA, GUI

#1888 Change: Optimize button placements of China Dozer
  Patch104pZH/Design/Changes/v1.0/1888_china_dozer_buttons.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Minor, Optional, China, GUI

#1889 Change: Optimize button placements of USA Dozer
  Patch104pZH/Design/Changes/v1.0/1889_usa_dozer_buttons.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Minor, Optional, USA, GUI
