Repository TheSuperHackers/GeneralsGamePatch, pull requests merged in 2023-09, with the labels that each got.

#2317 Fix: Punctuation inconsistencies in various strings for all languages
  Patch104pZH/Design/Changes/v1.0/2156_misc_text_errors.yaml
  Patch104pZH/Design/Changes/v1.0/2316_punctuation_inconsistencies_in_controlbar_text.txt
  Patch104pZH/Design/Changes/v1.0/2316_punctuation_inconsistencies_in_tooltip_text.txt
  Patch104pZH/Design/Changes/v1.0/2317_punctuation_inconsistencies_in_various_text.txt
Labels: Minor, Text

#2318 Fix: Incorrect ini format in SoundEffects.ini for drone voices
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Minor

#2319 Change: Add overlord expansion sound effect to GLA Bomb Truck upgrades
  Patch104pZH/Design/Changes/v1.0/2319_bomb_truck_upgrade_sound.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Upgrade.ini
Labels: Design, Minor, Audio, GLA

#2320 Fix: Balance creation voice volumes of USA Battle Drone, Hellfire Drone, China Overlord Gattling Cannon, Helix, Helix Napalm Bomb, GLA Saboteur, Battle Bus
  Patch104pZH/Design/Changes/v1.0/1281_technical_death_sound.yaml
  Patch104pZH/Design/Changes/v1.0/1282_saboteur_creation_sound.yaml
  Patch104pZH/Design/Changes/v1.0/2320_creation_voice_volumes.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Minor, Audio, USA, China, GLA

#2321 Fix: Add priority and limit to creation voices of China Overlord attachments, Helix attachments, GLA Bomb Truck attachments, Angry Mob, Saboteur
  Patch104pZH/Design/Changes/v1.0/2320_creation_voice_volumes.yaml
  Patch104pZH/Design/Changes/v1.0/2321_creation_voice_limits.yaml
  Patch104pZH/Design/Changes/v1.0/2321_creation_voice_priorities.yaml
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
  Patch104pZH/GameFilesEdited/Data/INI/Voice.ini
Labels: Bug, Minor, Audio, China, GLA

#2349 Update change log
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#2356 Disable Cash Stolen EVA event
  Patch104pZH/Design/Changes/v1.0/1940_misspelled_dialog_event_sounds.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Eva.ini
Labels: Design, Patch104p, Audio

#2085 Fix: Use correct model for poison deaths of GC Terrorists
  Patch104pZH/Design/Changes/v1.0/2074_infantry_death_module_fixes.yaml
  Patch104pZH/Design/Changes/v1.0/2085_terrorist_poison_death_models.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
Labels: Bug, Minor, GLA

#2064 Change: Decrease kill experience reward of veteran USA Burton to match other heroes
  Patch104pZH/Design/Changes/v1.0/2064_burton_experience_reward.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
Labels: Design, Controversial, Minor, USA

#2094 Change: Move Stop button of USA Strategy Center to common position
  Patch104pZH/Design/Changes/v1.0/2094_strategy_center_stop_button_placement.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Design, Minor, Optional, USA, GUI

#2363 Fix: GLA Battle Bus wreck no longer shows salvage upgrades
  Patch104pZH/Design/Changes/v1.0/2363_battle_bus_wreck.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/Hulk.ini
Labels: Bug, Minor, Art, GLA

#2364 Fix: Remove destruction delay from GLA Battle Bus death
  Patch104pZH/Design/Changes/v1.0/2363_battle_bus_wreck.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
Labels: Design, Minor, GLA

#2365 Fix: Prevent radar dish animation reset on damage transition of GLA Radar Van, China Overlord, Listening Outpost
  Patch104pZH/Design/Changes/v1.0/2365_radar_dish_animation_reset.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaCINEUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Minor, China, GLA

#2366 Change: Improve death effects of GLA Quad Cannon, Radar Van
  Patch104pZH/Design/Changes/v1.0/2366_radar_van_quad_cannon_death_fx.yaml
  Patch104pZH/GameFilesEdited/Data/INI/FXList.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/ParticleSystem.ini
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Design, Minor, GLA

#2045 Change: Increase field damage of GLA Anthrax Gamma Bomb by 20%
  Patch104pZH/Design/Changes/v1.0/2012_anthrax_gamma_field_damage.yaml
  Patch104pZH/Design/Changes/v1.0/2045_anthrax_gamma_field_damage.txt
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Design, Controversial, Major, Buff, GLA

#2044 Change: Decrease field damage of GLA Toxin Bomb by 20%
  Patch104pZH/Design/Changes/v1.0/2044_anthrax_beta_field_damage.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/System.ini
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Design, Controversial, Major, Nerf, GLA

#1704 Change: China Tank Battlemaster with Autoloader will always reload when idle
  Patch104pZH/Design/Changes/v1.0/1704_battlemaster_autoloader_idle_reload.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Design, Controversial, Major, Buff, China

#2370 Update change log
  Patch104pZH/Design/Changes/v1.0/1670_overlord_emperor_idle_reload.yaml
  Patch104pZH/Design/Changes/v1.0/1674_marauder_idle_reload.yaml
  Patch104pZH/Design/Changes/v1.0/1699_scorpion_idle_reload.yaml
  Patch104pZH/Design/Changes/v1.0/1705_comanche_idle_reload.yaml
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ArtOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ControversialOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#1530 Change: Increase USA Comanche Armor by up to 23%, Comanche Armor with Countermeasures by up to 9%
  Patch104pZH/Design/Changes/v1.0/1530_comanche_armor.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Armor.ini
Labels: Design, Controversial, Major, Buff, USA

#1694 Change: Increase fire rate of GLA RPG Trooper on Combat Bike by 88%
  Patch104pZH/Design/Changes/v1.0/1694_biker_rocket_weapon.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Design, Controversial, Minor, Buff, GLA

#1555 Change: Remove second Point Defense Laser from USA King Raptor and halve reload time of single Point Defense Laser
  Patch104pZH/Design/Changes/v1.0/1555_king_raptor_point_defense_laser.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Design, Controversial, Major, Nerf, USA, Boss
