Repository TheSuperHackers/GeneralsGamePatch, pull requests merged in 2023-08, with the labels that each got.

#2188 Fix: Supply Stash selection sound sometimes not played
  Patch104pZH/Design/Changes/v1.0/2188_supply_stash_selection_sound.yaml
  Patch104pZH/Design/Tasks/nproject_tasks.txt
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Bug, Minor, GLA

#2187 Fix: Use sub-faction specific Workers for GLA Holes
  Patch104pZH/Design/Changes/v1.0/2187_sub_faction_hole_workers.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLABuildings.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLABuildings.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
Labels: Enhancement, Minor, GLA

#2194 Fix: Infinitely circling plane and heli wrecks
  Patch104pZH/Design/Changes/v1.0/1018_dead_aurora_bug.yaml
  Patch104pZH/Design/Changes/v1.0/2194_dead_plane_helicopter_bug.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaAir.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaAir.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/WeaponObjects.ini
Labels: Bug, Minor, USA, China, Boss

#2197 Fix: Laser turret has no snow textures
  Patch104pZH/Design/Changes/v1.0/2197_laser_turret_snow.yaml
  Patch104pZH/Design/Tasks/nproject_tasks.txt
  Patch104pZH/GameFilesEdited/Art/W3D/ABLaserTrt_DS.W3D
  Patch104pZH/GameFilesEdited/Art/W3D/ABLaserTrt_ES.W3D
  Patch104pZH/GameFilesEdited/Art/W3D/ABLaserTrt_S.W3D
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
Labels: Bug, Minor, USA

#2199 Fix: Fire Base uses wrong model when sold while badly damaged
  Patch104pZH/Design/Changes/v1.0/2199_fire_base_badly_damage_sold_model.yaml
  Patch104pZH/Design/Tasks/nproject_tasks.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/FactionBuilding.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
Labels: Bug, Minor, USA

#2196 Fix: Promoted Crusaders, Laser and Microwave tanks spawn Pilots when crushed
  Patch104pZH/Design/Changes/v1.0/2196_crushed_tank_pilots.yaml
  Patch104pZH/Design/Tasks/nproject_tasks.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
Labels: Bug, Minor, USA

#2190 Add: Use snow textures for Supply Pile and Supply Docks
  Patch104pZH/Design/Changes/v1.0/2190_supply_dock_and_pile_snow_textures.yaml
  Patch104pZH/Design/Tasks/nproject_tasks.txt
  Patch104pZH/GameFilesEdited/Art/W3D/ZBSupplyDk_BS.W3D
  Patch104pZH/GameFilesEdited/Data/INI/Object/CivilianBuilding.ini
Labels: Enhancement, Minor, Art

#2201 Fix: China Command Center radar dish deploy animation is cut off early
  Patch104pZH/Design/Changes/v1.0/2201_china_command_center_radar_animation.yaml
  Patch104pZH/Design/Tasks/nproject_tasks.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/FactionBuilding.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Minor, China

#2200 Fix: Nuke Cannon has no recoil and muzzle flash when firing explosive shells
  Patch104pZH/Design/Changes/v1.0/2200_nuke_cannon_recoil_muzzle_flash.yaml
  Patch104pZH/Design/Tasks/nproject_tasks.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Minor, China

#2210 Fix: Avenger headlights barely visible from some angles
  Patch104pZH/Design/Changes/v1.0/158_avenger_model.yaml
  Patch104pZH/GameFilesEdited/Art/W3D/AVAvnger.W3D
  Patch104pZH/GameFilesEdited/Art/W3D/AVAvnger_D.W3D
Labels: Bug, Minor, Art, USA

#2209 Fix: Listening Outpost headlights barely visible from some angles, turned on while stationary
  Patch104pZH/Design/Changes/v1.0/261_outpost_model.yaml
  Patch104pZH/GameFilesEdited/Art/W3D/NVLOutpost.W3D
  Patch104pZH/GameFilesEdited/Art/W3D/NVLOutpost_D.W3D
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Minor, Art, China

#2211 Change: Turn off headlight of Sentry Drone when neither attacking nor moving
  Patch104pZH/Design/Changes/v1.0/2211_sentry_drone_headlight.yaml
  Patch104pZH/GameFilesEdited/Art/W3D/AVSentry.W3D
  Patch104pZH/GameFilesEdited/Art/W3D/AVSentry_D.W3D
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
Labels: Enhancement, Minor, Art, USA

#2185 Update NPM tasks
  Patch104pZH/Design/Tasks/nproject_tasks.txt
Labels: Documentation, Task

#2183 Add: Detention Camp
  Patch104pZH/Design/Changes/v1.0/2183_detention_camp.yaml
  Patch104pZH/GameFilesEdited/Art/W3D/ABPrison_A7.W3D
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/FactionBuilding.ini
Labels: Enhancement, WorldBuilder, Minor, USA

#2224 Update commandset logs
  Patch104pZH/Design/Scripts/str/generated/ar_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/bp_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/bp_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/bp_key_duplicate.txt
  Patch104pZH/Design/Scripts/str/generated/commandsets_not_unit.txt
  Patch104pZH/Design/Scripts/str/generated/de_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/es_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/es_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/fr_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/fr_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/it_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/it_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/ko_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/ko_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/pl_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/pl_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/ru_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/ru_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/us_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/us_key_conflict.txt
  Patch104pZH/Design/Scripts/str/generated/zh_commandsets.txt
  Patch104pZH/Design/Scripts/str/generated/zh_key_conflict.txt
Labels: Documentation

#2231 Fix: Broken Exploded death animation for certain civilian units
  Patch104pZH/Design/Changes/v1.0/2074_infantry_death_module_fixes.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/CivilianUnit.ini
Labels: Bug, Minor, China, Civilian

#1030 Add: Missing Cheering Animations
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Minor

#2233 Fix: Remove debug from main branch, document cheering fixes
  Patch104pZH/Design/Changes/v1.0/1030_fix_cheering_animations.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Documentation, Patch104p

#2235 Update change logs
  Patch104pZH/Design/Changes/v1.0/158_avenger_model.yaml
  Patch104pZH/Design/Changes/v1.0/2183_usa_detention_camp.yaml
  Patch104pZH/Design/Changes/v1.0/2184_gla_prison.yaml
  Patch104pZH/Design/Changes/v1.0/2192_militia_man.yaml
  Patch104pZH/Design/Changes/v1.0/2192_partisans.yaml
  Patch104pZH/Design/Changes/v1.0/2196_crushed_tank_pilots.yaml
  Patch104pZH/Design/Changes/v1.0/2197_laser_turret_snow.yaml
  Patch104pZH/Design/Changes/v1.0/2209_listening_outpost_headlight.yaml
  Patch104pZH/Design/Changes/v1.0/2211_sentry_drone_headlight.yaml
  Patch104pZH/Design/Changes/v1.0/261_outpost_model.yaml
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/AllSortedBySeverity.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ArtOnlySortedByFaction.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/ChinaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/GlaOnlySortedByDate.md
  Patch104pZH/ReleaseUnpacked/Changes/v1.0/UsaOnlySortedByDate.md
Labels: Documentation

#2227 Fix: Boss Burton and Jarmen Recoil animation speed
  Patch104pZH/Design/Changes/v1.0/2227_boss_burton_recoil_animation.yaml
  Patch104pZH/Design/Changes/v1.0/2227_boss_jarmen_recoil_animation.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
Labels: Bug, Minor, Boss

#2220 Fix: Spectre wreck is silent when crashing on the ground
  Patch104pZH/Design/Changes/v1.0/2220_spectre_wreck_impact_sound.yaml
  Patch104pZH/GameFilesEdited/Data/INI/FXList.ini
  Patch104pZH/GameFilesEdited/Data/INI/SoundEffects.ini
Labels: Bug, Minor, Audio, USA, Boss

#2237 Fix: INFANTRY KindOf on unused Toxic Infantry
  Patch104pZH/Design/Changes/v1.0/75_dead_target_bug.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLASystem.ini
Labels: Bug, Minor, Patch104p

#2236 Fix: Issues with USA, China and CIA Officers
  Patch104pZH/Design/Changes/v1.0/2236_china_officer.yaml
  Patch104pZH/Design/Changes/v1.0/2236_cia_agent.yaml
  Patch104pZH/Design/Changes/v1.0/2236_usa_officer.yaml
  Patch104pZH/GameFilesEdited/Art/W3D/AIOFCR_ATA.W3D
  Patch104pZH/GameFilesEdited/Art/W3D/NIOFCR_ATA.W3D
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Bug, WorldBuilder, Minor, USA, China

#2246 Refactor language bundle items
  Patch104pZH/ModBundleLanguageItems.json
Labels: Patch104p

#2255 Tweak: Partisan and Milita Man Guard radius
  Patch104pZH/Design/Changes/v1.0/2192_militia_man.yaml
  Patch104pZH/Design/Changes/v1.0/2192_partisans.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/CivilianUnit.ini
Labels: Patch104p

#2253 Fix: Cash Bounty does not mention Command Center requirement in General's promotion menu
  Patch104pZH/Design/Changes/v1.0/2253_cash_bounty_info.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
Labels: Enhancement, Minor, GLA, Text, Boss

#2264 Fix: Visible Bombs shown below Nuclear Helix Bomb Wings
  Patch104pZH/Design/Changes/v1.0/1023_nuke_helix_model.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
Labels: Patch104p

#2263 Change: Removes Command Center scaffold requirement from GLA Cash Bounty activation
  Patch104pZH/Design/Changes/v1.0/1764_cash_bounty_dummy_spawn_interval.txt
  Patch104pZH/Design/Changes/v1.0/2253_cash_bounty_info.yaml
  Patch104pZH/Design/Changes/v1.0/2263_cash_bounty_activation.yaml
  Patch104pZH/Design/Changes/v1.0/595_cash_bounty_activation.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
  Patch104pZH/GameFilesEdited/Data/INI/Default/Object.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/FactionBuilding.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLABuildings.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLABuildings.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/System.ini
  Patch104pZH/GameFilesEdited/Data/INI/ObjectCreationList.ini
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Bug, Design, Minor, GLA, Boss

#2239 Fix: Jarmen Kell recoil animation aborted after kill shot
  Patch104pZH/Design/Changes/v1.0/2239_jarmen_kell_firing_animation.yaml
  Patch104pZH/Design/Changes/v1.0/938_infantry_muzzle_flash.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
Labels: Bug, Minor, GLA, Boss

#2267 Fix: Demo Jarmen Kell has no animation for placing demo charges
  Patch104pZH/Design/Changes/v1.0/2267_demo_jarmen_kell_planting_animation.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
Labels: Bug, Minor, GLA

#2215 Fix: Cleanup trivial ini configuration errors
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaAir.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/CivilianBuilding.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/CivilianProp.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/CivilianUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NatureProp.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
Labels: Bug, Minor

#2278 Add some useful info to release ReadMe.txt
  Patch104pZH/ReleaseUnpacked/ReadMe.txt
Labels: Documentation

#2203 Update CONTRIBUTE page
  CONTRIBUTE.md
  Maps/ReadMe.txt
Labels: Documentation

#2275 Add B2 Bomber test map
  Maps/Any/!TestEvasionRate/!TestEvasionRate.map
  Maps/Any/!TestEvasionRate/!TestEvasionRate.tga
  Maps/Any/!TestEvasionRate/map.ini
Labels: Documentation

#2189 Fix: USA Hellfire Drone spawns Scout Drone debris when destroyed
  Patch104pZH/Design/Changes/v1.0/2189_hellfire_drone_debris.yaml
  Patch104pZH/Design/Tasks/nproject_tasks.txt
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/Hulk.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/ObjectCreationList.ini
Labels: Bug, Minor, USA

#2268 Fix: Infantry Muzzle Flash Stuck During Transition Animations, part 2
  Patch104pZH/Design/Changes/v1.0/2192_militia_man.yaml
  Patch104pZH/Design/Changes/v1.0/2192_partisans.yaml
  Patch104pZH/Design/Changes/v1.0/938_infantry_muzzle_flash.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaCINEUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaMiscUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/CivilianUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Minor, USA, China, GLA, Boss

#2282 Add: Red Guard Bayonet Attack
  Patch104pZH/Design/Changes/v1.0/2282_red_guard_bayonet_attack.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandButton.ini
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaCINEUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Enhancement, WorldBuilder, Minor, China

#2286 Tweak: Add Anthrax Bomb and Rebel Ambush from USA05 GLA allies to shortcut bar
  Patch104pZH/Design/Changes/v1.0/2286_usa05_campaign_shortcut_bar.yaml
  Patch104pZH/GameFilesEdited/Data/INI/PlayerTemplate.ini
  Patch104pZH/GameFilesEdited/Maps/MD_USA05/map.ini
Labels: Enhancement, Minor, USA

#2285 Tweak: Make USA05 GLA infantry no longer weak to rocketeer infantry
  Patch104pZH/Design/Changes/v1.0/2285_usa05_campaign_enemy_infantry.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Armor.ini
Labels: Enhancement, Minor, USA, GLA

#2287 Fix: Burton Knife Attack animation skip exploit
  Patch104pZH/Design/Changes/v1.0/2287_burton_insta_stab.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Weapon.ini
Labels: Bug, Minor, USA

#2272 Tweak: Paradrop Rangers and Missile Defenders in batches
  Patch104pZH/Design/Changes/v1.0/2026_usa_paradrop_payload.yaml
  Patch104pZH/GameFilesEdited/Data/INI/ObjectCreationList.ini
Labels: Patch104p

#2240 Fix: English audio restoration for icia (3)
  Patch104pZH/Design/Changes/v1.0/1061_audio_fixes.yaml
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2.txt
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciaatd.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciaate.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciadib.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciadic.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciadid.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciamoa.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciamob.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciamoc.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciamod.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciamoe.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciasea.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciasec.wav
  Patch104pZH/GameFilesOptional/Data/Audio/Sounds/Restoration/EnglishVoice2/iciased.wav
Labels: Minor, Optional, Audio

#2157 Fix: avraptor textures (2)
  Patch104pZH/Design/Changes/v1.0/1271_avraptor_textures.yaml
  Patch104pZH/Design/Changes/v1.0/2157_avraptor_textures.txt
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/avraptor_d.psd
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/avraptor_d1.psd
  Patch104pZH/GameFilesEdited/Art/Textures/GenerateMip/avraptor_d1b.psd
Labels: Minor, Art, USA

#2193 Fix: Remove tiny debris pieces from exploded USA Scout Drone
  Patch104pZH/Design/Changes/v1.0/2193_scout_drone_debris.yaml
  Patch104pZH/GameFilesEdited/Data/INI/ObjectCreationList.ini
Labels: Minor, Performance, USA

#2293 Fix: Boss Supply Truck and Civilian Toxic Supply Truck out of sync with patch changes
  Patch104pZH/Design/Changes/v1.0/1680_supply_truck_xp_reward.yaml
  Patch104pZH/Design/Changes/v1.0/96_supply_truck_mass.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/CivilianUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Patch104p

#2250 Fix: Resolve name inconsistencies of GLA Demolition Ability for all latin languages
  Patch104pZH/Design/Changes/v1.0/2156_misc_errors_in_strings.yaml
  Patch104pZH/Design/Changes/v1.0/2156_misc_text_errors.yaml
  Patch104pZH/Design/Changes/v1.0/2250_demo_upgrade_text.txt
Labels: Minor, GLA, Text

#2297 Generate Arabic and Russian language files in English localization folders
  Patch104pZH/ModBundleAudioItems.json
  Patch104pZH/ModBundleLanguageItems.json
Labels: Patch104p

#2296 Fix: Jarmen Kell and Pathfinders can damage Fire Bases on some campaign maps
  Patch104pZH/Design/Changes/v1.0/2234_snipers_vs_firebases_in_campaign.yaml
  Patch104pZH/GameFilesEdited/Maps/MD_CHI03/map.ini
  Patch104pZH/GameFilesEdited/Maps/MD_GLA03/map.ini
  Patch104pZH/GameFilesEdited/Maps/MD_GLA03_CINE/map.ini
  Patch104pZH/GameFilesEdited/Maps/MD_GLA03_END/map.ini
Labels: Bug, Minor, USA, GLA

#2295 Change: Disable Camouflage upgrade for Tox and Demo Rebels
  Patch104pZH/Design/Changes/v1.0/225_rebel_cameo.yaml
  Patch104pZH/Design/Changes/v1.0/2294_rebel_camouflage.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
Labels: Minor, Patch104p, GLA

#2291 Fix: Boss General button positions on General's Power screen
  Patch104pZH/Design/Changes/v1.0/xxxx_boss_promotion_screen.yaml
  Patch104pZH/GameFilesEdited/Data/INI/CommandSet.ini
  Patch104pZH/GameFilesEdited/Window/GeneralsExpPoints.wnd
Labels: Bug, Minor, GUI, Boss

#2298 Fix: Cash Bounty Logic
  Patch104pZH/Design/Changes/v1.0/2263_cash_bounty_activation.yaml
  Patch104pZH/Design/Changes/v1.0/2291_boss_promotion_screen.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Default/Object.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/FactionBuilding.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLABuildings.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLABuildings.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/System.ini
  Patch104pZH/GameFilesEdited/Data/INI/ObjectCreationList.ini
Labels: Performance, Patch104p

#2299 Add player stats document
  Patch104pZH/Design/Balancing/Factions/rating_the_top_5.html
Labels: Documentation

#2284 Fix: Toxin General RPG-Soldier and USA05 Toxin RPG-Soldier missing muzzle flash when firing at ground targets
  Patch104pZH/Design/Changes/v1.0/2284_toxin_general_rpg_soldier_muzzle_flash.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
Labels: Bug, Minor, GLA

#2292 Fix: Red Guard animation issues
  Patch104pZH/Design/Changes/v1.0/2292_mini_gunner_animations.yaml
  Patch104pZH/Design/Changes/v1.0/2292_red_guard_animations.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaCINEUnit.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChinaInfantry.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Bug, Enhancement, Minor, China

#2290 Fix: Injured members slow down the Angry Mob, can never catch up
  Patch104pZH/Design/Changes/v1.0/2227_boss_burton_recoil_animation.yaml
  Patch104pZH/Design/Changes/v1.0/2227_boss_jarmen_recoil_animation.yaml
  Patch104pZH/Design/Changes/v1.0/2290_angry_mob_movement.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Locomotor.ini
Labels: Bug, Controversial, Minor, Buff, GLA

#2280 Tweak: Make Command Centers grant the global Dummy Upgrade
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/BossGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/FactionBuilding.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLABuildings.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Slth_GLABuildings.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/InfantryGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/NukeGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/System.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/TankGeneral.ini
Labels: Performance, Patch104p

#2277 Fix: USA Spy Drone can no longer be selected, but attacked, attempt 2
  Patch104pZH/Design/Changes/v1.0/173_spydrone_select_all_key.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AirforceGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/LaserGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/SuperWeaponGeneral.ini
Labels: Bug, Major, USA

#2279 Tweak: Make Supply Drop Zone Cargo Planes attackable again
  Patch104pZH/Design/Changes/v1.0/836_unattackable_drop_zone_cargo_planes.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/AmericaAir.ini
Labels: Patch104p

#2306 Fix: Demo Toxin Tractor explodes in wrong toxin cloud when suicided
  Patch104pZH/Design/Changes/v1.0/1618_wreck_spawn_before_death.yaml
  Patch104pZH/Design/Changes/v1.0/77_toxin_tractor_anthrax_color.yaml
  Patch104pZH/Design/Changes/v1.0/99_demo_vehicle_destruction.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/ChemicalGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GC_Chem_GLAUnits.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/GLAVehicle.ini
  Patch104pZH/GameFilesEdited/Data/INI/Object/StealthGeneral.ini
Labels: Patch104p

#2307 Fix: RPG and Jarmen are not playing explosion effect (visuals)
  Patch104pZH/Design/Changes/v1.0/2307_missing_infantry_demo_suicide_effects.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
Labels: Bug, Minor, GLA

#2308 Fix: Incorrect suicide setup of GLA Demo Stinger Site
  Patch104pZH/Design/Changes/v1.0/2308_demo_stinger_death_damage.yaml
  Patch104pZH/GameFilesEdited/Data/INI/Object/DemoGeneral.ini
Labels: Bug, Minor, GLA
